<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{~/css/dashboard.css}">

    <!-- Boxicons CSS-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!--<title>Dashboard Sidebar Menu</title>-->
</head>

<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
                <span class="image">
                  <!--<img src="logo.png" alt="">-->
              </span>

            <div class="text logo-text">
                <span class="name">Admin</span>
                <span class="profession">Recipe Web</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Search...">
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="addpage.html">
                        <i class='bx bx-food-menu icon'></i>
                        <span class="text nav-text">Add Category</span>

                    </a>
                </li>

                <li class="nav-link">
                    <a href="addfood.html">
                        <i class='bx bx-bowl-rice icon'></i>
                        <span class="text nav-text">Add Food</span>

                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>

</nav>

<!-- <section class="home">
    <div>
        <link href="home0.html">
    </div>
</section> -->

<script src="sidebar.js"></script>
<div>
    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img th:src="@{~/images/food/Food-Plate.png}">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    Food Recette is a website where individuals may look for recipes for foods they want to make.
                    It mostly targets young teenage people who wish to learn how to cook various meals.
                    Rather than opening the book and searching for the recipes you want to prepare,
                    Food Recette will save time by allowing the user to see the dish they want in a short amount of time.
                </p>
            </div>

        </div>

    </div>
    <!--Menu-->
    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/burger.jpg}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Buger</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">
                        See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/pasta.jpg}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>pasta</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/lasagna.webp}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>lasagna</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>

                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/chocolate_Drink.jpg}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Drink</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/pizza.jpg}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>pizza</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/Hot_dog.jpg}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Hot Dog</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/juse.jpg}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Juse</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/biryani.webp}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Biryani</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/chocolate.jpg}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Chocolate</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/ice_cream.png}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Ice Cream</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img src="image/Spanchi.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Spanchi</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

            <div class="menu_card">

                <div class="menu_image">
                    <img th:src="@{~/images/food/sandwich.png}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Sandwich</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum assumenda voluptates
                    </p>
                    <div class="menu_icon">
                        <i class='bx bx-pen icon pen'></i>
                        <i class='bx bx-minus-circle icon minus'></i>
                    </div>
                    <a href="#" class="menu_btn">See Info</a>
                </div>

            </div>

        </div>

    </div>
    <!--category-->

    <div class="category" id="category">
        <h1>Our<span>category</span></h1>

        <div class="category_box">
            <div class="category_card">

                <div class="category_image">
                    <img th:src="@{~/images/food/eggbreag.png}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="category_info">
                    <h2>Breakfast</h2>
                    <div class="category_icon">
                    </div>
                    <a href="#" class="category_btn">See Types</a>
                </div>

            </div>
            <div class="category_card">

                <div class="category_image">
                    <img th:src="@{~/images/food/momo.png}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="category_info">
                    <h2>Snacks</h2>
                    <div class="category_icon">
                    </div>
                    <a href="#" class="category_btn">
                        See Types</a>
                </div>

            </div>

            <div class="category_card">

                <div class="category_image">
                    <img th:src="@{~/images/food/cheesepizza.png}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="category_info">
                    <h2>Pizza</h2>
                    <div class="category_icon">

                    </div>
                    <a href="#" class="category_btn">See Types</a>
                </div>

            </div>
            <div class="category_card">
                <div class="category_image">
                    <img th:src="@{~/images/food/dinner.png}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="category_info">
                    <h2>Dinner</h2>
                    <div class="category_icon">
                    </div>
                    <a href="#" class="category_btn">See Types</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>